<div class="product-card card m-3" style="width: 18rem; cursor: pointer;" title="Contact us for more details"
  [routerLink]="['/contact']">
  <div class="card-image-container bg-white">
    <img class="card-img-top product-image m-auto d-block p-3" [src]="productDetail.imgSrc" [alt]="productDetail.alt">
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">{{productDetail.name}}</h5>
    <p class="card-text">{{productDetail.description}}</p>
    <!-- <a href="#" class="btn btn-primary">More</a> -->
  </div>
</div>
