@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
:host {
  display: block;
  color: #4d4d4c;
}

.contact-us-banner {
  background: rgb(223, 234, 255);
  background: linear-gradient(90deg, rgba(223, 234, 255, 1) 0%, rgba(230, 239, 255, 0.7959558823529411) 100%);
}

@include media-breakpoint-up(md) {
  .contact-us-banner.contact-us-banner {
    padding: 5rem 6rem !important;
  }
}

.contact-us-header {
  color: #4d4d4c;
}
.contact-us-desc {
  color: #5e5e5e;
}

.map-anchor {
  cursor: pointer;
  display: block;
}
.address-line-google-map-image {
  height: 135px;
  width: 200px;
  background-image: url('../../../assets/showcase/images/maps/istockphoto-1282959893-612x612.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
