:host {
  display: block;
}

.google-map-container {
  background-image: url('/assets/showcase/images/maps/google_map_kartik_address.png');
  width: 100%;
  height: 735px;
  cursor: pointer;
  display: block;
}
