<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 border-bottom box-shadow">
  <div
    class="company-logo d-flex flex-column flex-md-row align-items-center my-0 mr-md-auto px-md-4 font-weight-normal">
    <div class="logo"></div>
    <div class="company-title px-md-4">Vectro Medical Systems</div>
  </div>
  <nav class="my-2 my-md-0 mr-md-3 nav-links">
    <!-- <a class="text-dark main-link" routerLink="/home" routerLinkActive="active text-primary">Home</a> -->
    <a class="text-dark main-link" routerLink="/gallery" routerLinkActive="active">Gallery</a>
    <a class="text-dark main-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
  </nav>
</div>
