<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
  <h5 class="company-logo my-0 mr-md-auto font-weight-normal">Vectro Medical Systems</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark main-link" routerLink="/home" routerLinkActive="active text-primary">Home</a>
    <a class="p-2 text-dark main-link" routerLink="/gallery" routerLinkActive="active">Gallery</a>
    <a class="p-2 text-dark main-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
  </nav>
</div>
